<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.pos.iago.taskmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeTransparent">
        <activity android:taskTitle=".views.MainActivity">
            <intent-filter>
                <action android:taskTitle="android.intent.action.MAIN" />

                <category android:taskTitle="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:taskTitle=".views.CreateTaskActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>